<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Yet Another CRUD app</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <nav>
      <a href="/">overview</a>
      <a href="/cute_kittens/new">put a kitten up for adoption</a>
  </nav>



  <%= yield %>

</body>
</html>
