<h2>Add new kitten for adoption</h2>


<form action="/cute_kittens" method="post">
  <label for="">Name:</label>
  <input name="name" type="text">
  <br>
  <label for="">Skillz:</label>
  <input name="skillz" type="text">
  <br>
  <label for="">Kitten pic url:</label>
  <input name="image_url" type="text">
  <br>
  <button>Put up for adoption</button>
</form>
