header{
  display: flex;
}

.logo{
  order: -1;
  display: flex;
  align-self: flex-start;
}

h1{
  display: flex;
  margin: auto;
  font-family: 'Bungee', cursive;
}

main{
  display: flex;
  align-items: center;
  margin-top: 20%;
  font-family: 'BioRhyme', serif;
}

main span{
  font-weight: bold;
  font-size: 30px;
  margin:auto;
}

.savings, .checking{
  display: flex;
  align-items: center;
  margin: auto;
  flex-flow: column;
  background-color: silver;
  padding: 3%;
  border: none;
  border-radius: 40px 10px;
  font-size: 20px;
}

.checking_transaction_amount, .savings_transaction_amount{
  display: flex;
  margin-top: auto;
  display: flex;
  margin: 5%;
}

.show_balance{
  font-weight: bold;
  font-size: 40px;
}

.gone_in_red{
  background-color: red;
}

.button_box{
  display: flex;
  flex-flow: row;
}

button{
  display: flex;
  margin: 2px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5c3ba5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #4d3387
}

button:active {
  background-color: #4d3387;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input{
  background-color: #c5e5de;
  text-align: right;
  max-width: 125px;
  font-size: 20px;
  margin: 20px;
  font-family: 'BioRhyme', serif;
}

.no_funds{
  display: none;
}

.show_no_funds{
  display: flex;
}
