<p class="title">Karen's movie data base</p>

<form action="/movie_input"> <!-- action = url -->
  <input type="text" name="title" placeholder="movie title"> <!--name attribute corresponds with key from email_input params -->
  <button>SEARCH</button>
</form>
