<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Karen's Movie Database</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
</head>
<body>
  <nav>
      <a href="/">search</a>
      <a href="/about">about</a>
      <a href="/history">history</a>
    </nav>

  <%= yield %>

</body>
</html>
