<h3>New dish here please</h3>
<form action="/dishes" method="post">
  <input type="text" name="title">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button>create</button>
</form>
