*{
  box-sizing: border-box;
}

h1{
  display: inline-block;
  vertical-align: top;
  padding-left: 17%;
}
.logo{
display: inline-block;
vertical-align: top;
background-color: red;
border: 3px solid black;
height: 50px;
width: 20%;
text-align: center;
padding-top: 3px;
}

.left_box, .right_box{
  display: inline-block;
  vertical-align:top;
  margin-top: 20%;
  width: 25%;
  text-align: center;
  height:27%;
  border: 3px solid black;
}

.left_box{
  background-color: yellow;
  margin-left: 20%;
  margin-right: 5%;
}

.right_box{
  background-color: green;
  margin-left: 5%;
  margin-right: 10%;
  }

button{
  display: inline-block;
  margin-top:15px;
  color: darkgreen;
  margin-bottom:5px;
}

input{
  background-color: mistyrose;
}
